.trans-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    
}
.list-item div{
  justify-content: space-between;
  border: 2px solid black;
  margin: 2px 2px;
}
.delete-btn{
    cursor: pointer;
    background-color: red;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    /* top: 50%; */
    /* left: 0; */
    /* transform: translate(-100%,-50%); */
    opacity: 0;
    transition: opacity 0.3s ease;
}
.list-item:hover .delete-btn{
    opacity: 1;
}
li{
     margin: 0.4rem 0.7rem;
}
.list-item span{
    color: white;
    padding-left:0.7rem ;
}